<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/post.css') }}">
    <link rel="stylesheet" href="{{ asset('css/myposts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/comment.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    <script src="{{ asset('js/popup.js') }}"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<header>
    <div class="header-button-container">
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ app.user ? path('app_logout') : 'login'}}">{{ app.user ? 'Logout' : 'Login' }}</a>

        {% if app.user is not null %}
            <a href="{{ path('profilepage') }}">Profile</a>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a href="{{ path('admin') }}"> Admin</a>
            {% endif %}
        {% else %}
            <a href="{{ path('app_register') }}">Register</a>
        {% endif %}
    </div>

    {% if app.user is not null %}
        <div class="welcome-text">Welcome back! {{ app.user.username }}</div>
    {% endif %}
</header>


{% block body %}
    {# Content of the child templates will go here #}
{% endblock %}
</body>
</html>
