{% extends 'base.html.twig' %}

{% block body %}

    {% for post in followingPosts %}


        <div class="followed-post-container">

            <div class="followed-post">

                <a class="inspect-link" href="{{ path('inspect-post', { 'id': post.id }) }}">
                    <div class="title-data">{{ post.title }}</div>
                </a>

                <div class="follow-post-text">{{ post.text }}</div>

                <div class="follow-post-footer">
                    <div class="follow-post-date">{{ post.date| date('d-m-y') }}</div>
                    <div class="follow-postedBy">{{ post.user.username }}</div>

                </div>

            </div>
        </div>


    {% else %}
        <div>No posts found.</div>
    {% endfor %}

{% endblock %}
