{% extends 'base.html.twig' %}


{% block body %}

    


<div class="inspect-container">
    <div class="inspect-post-container">

        <a class="inspect-back-button" href="{{ path('post-page') }}"> BACK </a>




        <div class="inspect-post">

            <div class="title-data">{{ post.title }}</div>
            <div class="text-data">{{ post.text }}</div>

            <form action="{{ path('follow_user', {'id': post.user.id}) }}" method="POST">
                <button type="submit">Follow</button>
            </form>

            {% set likedPostIds = likes|map(like => like.post.id) %}

            <div class="like-container">
                <a class="like" href="{{ path('like-post', {'id': post.id}) }}" data-id="{{ post.id }}" data-like-state="{{ post.id in likedPostIds ? 'true' : 'false' }}">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <div class="total-likes">{{ post.totalLikes}}</div>

                <div class="views">
                    <i class="fa-regular fa-eye"></i>
                    {{ post.totalViews }}
                </div>
            </div>

            {% set userRating = 0 %}

            {% for rating in userRatings %}
                {% if rating.post.id == post.id %}

                    {% set userRating = rating.score %}

                {% endif %}
            {% endfor %}

            <div class="inspect-rating">
                <div class="ratings">
                    <div class="rating-button-container">

                        {% set fullStars = post.averageRating|round(0, 'floor') %}
                        {% set hasHalfStar = post.averageRating != fullStars %}

                        {% for i in 1..5 %}
                            {% if i <= fullStars %}
                                <i class="fas fa-star"></i>

                            {% elseif i == fullStars + 1 and hasHalfStar %}
                                <i class="fas fa-star-half-alt"></i>

                            {% else %}
                                <i class="far fa-star"></i>

                            {% endif %}
                        {% endfor %}
                        <span>Average rating: {{ post.averageRating|number_format(1) }}</span>
                    </div>
                </div>
            </div>



            <div class="myposts-footer">

                <a class="inspect-post-date">{{ post.date|date("d-m-Y") }}</a>
                <div class="postedBy">{{ post.user.username }}</div>


            </div>

        </div>
    </div>

    <div class="full-comment-container">
        <div class="comment-form-container">

            <form action="{{ path('postComment', {'id': post.id}) }}" method="post">

                <textarea class="comment-input" name="commentText" placeholder=" Enter your comment here..." required autocomplete="off"></textarea>
                <button class="comment-submit" type="submit">Submit</button>
            </form>

        </div>
        <div class="posted-comments-container">
            {% if post.comments is empty %}
                <p>No comments yet.</p>
            {% else %}
                {% for comment in post.comments|reverse %}


                    <div class="comment-data">

                        <div class="comment-container">

                            <div class="comment-profile-picture">
                                {% if comment.user.imageFileName is not null %}
                                    <img src="{{ asset(comment.user.imagePath) }}" alt="Profile Picture">
                                {% else %}
                                    <img src="{{ asset('uploads/profile_image/default.jpg') }}" alt="default picture">
                                {% endif %}
                            </div>

                            <div class="comment-username">{{ comment.commentAuthor }}</div>
                            <div class="comment-date">Posted {{ comment.createdAt| ago }}</div>

                            {% if comment.updatedAt is null %}

                            {% else %}
                                <div class="comment-edit-date">
                                    *edited {{ comment.updatedAt| ago }}*
                                </div>

                            {% endif %}

                            {% if app.user and app.user.username == comment.commentAuthor %}
                                <form action="{{ path('edit-post-comments', {'id': comment.id}) }}" method="post">
                                    <button class="edit-comment-button">edit</button>
                                </form>

                                <form action="{{ path('delete-comment', {'id': comment.id}) }}" method="post">
                                    <button class="edit-comment-button">Delete</button>
                                </form>



                            {% endif %}

                            {% set voteUp = false %}
                            {% set voteDown = false %}

                            {% for vote in votesByUser %}
                                {% if vote.comment.id == comment.id %}
                                    {% if vote.voteType == 1 %}
                                        {% set voteUp = true %}
                                    {% elseif vote.voteType == 0 %}
                                        {% set voteDown = true %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <div class="vote-container">

                                <form action="{{ path('vote', {'id': comment.id, 'voteType': 1}) }}" method="post" class="vote-form">
                                    <button class="vote-button {% if voteUp %} voted {% endif %}" data-value="1" data-id="{{ comment.id }}" type="submit">
                                        <i class="fa-solid fa-arrow-up"></i>
                                    </button>
                                </form>

                                <form action="{{ path('vote', {'id':comment.id, 'voteType': 0}) }}" method="post" class="vote-form">
                                    <button class="vote-button {% if voteDown %} voted {% endif %}" data-value="0" data-id="{{ comment.id }}" type="submit">
                                        <i class="fa-solid fa-arrow-down"></i>
                                    </button>
                                </form>

                            </div>


                            <span class="vote-count" data-id="{{ comment.id }}">{{ comment.voteScore }}</span>

                        </div>

                        <div class="comment-box">{{ comment.commentText }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        </div>






</div>

{% endblock %}