{% extends 'base.html.twig' %}


{% block body %}

<div class="inspect-container">
    <div class="inspect-post-container">
    <div class="inspect-post">

        <div class="title-data">{{ post.title }}</div>
        <div class="text-data">{{ post.text }}</div>

        <div class="myposts-footer">

            <a class="inspect-post-date">{{ post.date|date("d-m-Y") }}</a>
            <div class="postedBy">{{ post.user.username }}</div>

            <form action="{{ path('follow_user', {'id': post.user.id}) }}" method="POST">
                <button type="submit">Follow</button>
            </form>
        </div>

    </div>
    </div>


    <div class="comment-form-container">

        <form action="{{ path('postComment', {'id': post.id}) }}" method="post">

            <input class="comment-input" name="commentText" placeholder="Enter your comment here..." required autocomplete="off">
            <button class="comment-submit" type="submit">Submit</button>
        </form>





    </div>


    {% if post.comments is empty %}
        <p>No comments yet.</p>
    {% else %}
        {% for comment in post.comments|reverse %}
            <div class="comment-container">
                <div class="comment-data">
                    <div class="comment-username">{{ comment.commentAuthor }}</div>
                    <div class="comment-date">Posted {{ comment.createdAt| ago }}</div>

                    {% if comment.updatedAt is null %}

                    {% else %}
                        <div class="comment-edit-date">
                            *edited {{ comment.updatedAt| ago }}*
                        </div>

                    {% endif %}

                    {% if app.user and app.user.username == comment.commentAuthor %}
                        <form action="{{ path('edit-post-comments', {'id': comment.id}) }}" method="get">
                            <button class="edit-comment-button">edit</button>
                        </form>

                        <form action="{{ path('delete-comment', {'id': comment.id}) }}" method="get">
                            <button class="edit-comment-button">Delete</button>
                        </form>



                    {% endif %}


                </div>
                <div class="comment-box">{{ comment.commentText }}</div>
            </div>
        {% endfor %}
    {% endif %}


</div>

{% endblock %}