{% extends 'base.html.twig' %}

{% block body %}

{#    <div class="mycomments">test</div>#}


    {% if myComments is empty %}
        <p>No comments yet.</p>
    {% else %}
        {% for comment in myComments|reverse %}

            <div class="my-comment-container">
                <div class="my-comment-data">
                    <div class="my-comment-username">{{ comment.commentAuthor }}</div>
                    <div class="my-comment-date">{{ comment.createdAt|ago }}</div>
                    <div class="my-comment-edit">
                        <form action="{{ path('edit-comments', {'id': comment.id}) }}" method="get">
                        <button>test</button>
                        </form>

                        <form action="{{ path('delete-comment', { 'id': comment.id }) }}" method="post">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>

                    </div>
                </div>
                <div class="comment-box">{{ comment.commentText }}</div>
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}