{% extends 'base.html.twig' %}


{% block title %} 'Welcome Home' {% endblock %}



{% block body %}


{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}
    <div class="page-title-home">
        <h1>USER POSTS</h1>

        {% if alreadyFollowing == 1  %}
            <a id="following-text">Already following</a>
        {% endif %}
    </div>

    <div class="container">
        <div class="button-container">
            <a href="{{ path('create-post') }}" class="home-main-buttons">Create Post</a>
            <a href="{{ path('show-posts') }}" class="home-main-buttons">Show my posts</a>
            <a href="{{ path('show-comments') }}" class="home-main-buttons">Show my Comments</a>
            <a href="{{ path('follow-list') }}" class="home-main-buttons">Follow List</a>


        </div>

        <div class="home-main">
            {% for post in posts %}
                <div class="post">
                    <a class="inspect-link" href="{{ path('inspect-post', { 'id': post.id }) }}">
                        <div class="title-data">{{ post.title }}</div>
                    </a>
                    <div class="text-data">{{ post.text }}</div>

                    <div class="post-rating">
                        <input type="checkbox" id="1-star">1
                        <input type="checkbox" id="2-star">2
                        <input type="checkbox" id="3-star">3
                        <input type="checkbox" id="4-star">4
                        <input type="checkbox" id="5-star">5
                    </div>
                    <div class="home-post-footer">

                        <a class="home-post-date">{{ post.date|date('d-m-Y') }}</a>
                        <div class="popup" >
                            <a>Posts: {{ post.user.postCount }}</a>
                            <a>Comments: {{ post.user.commentCount }}</a>
                        </div>
                        <div class="homePostedBy" >{{ post.user.username }}</div>
                    </div>
                </div>
            {% else %}
                <p>No posts available.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}