{% extends 'base.html.twig' %}


{% block title %} 'Welcome Home' {% endblock %}



{% block body %}


{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}


{#        {% if alreadyFollowing == 1  %}#}
{#            <a id="following-text">Already following</a>#}
{#        {% endif %}#}
    </div>

    <div class="button-container">
        <a href="{{ path('create-post') }}" class="home-main-buttons">Create Post</a>
        <a href="{{ path('show-posts') }}" class="home-main-buttons">Show my posts</a>
        <a href="{{ path('show-comments') }}" class="home-main-buttons">Show my Comments</a>
        <a href="{{ path('follow-list') }}" class="home-main-buttons">Follow List</a>
        <a href="{{ path('post-page') }}" class="home-main-buttons">Post Page!</a>



    </div>
    <div class="home-container">

    </div>





{% endblock %}